body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-color: burlywood;
    border: 2px solid brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: chocolate;
}
h1{
    font-style: uppercase;


}