body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: burlywood;
    border: 2px solid brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(219, 191, 172);
    display: flex;
    flex-direction: column; 
    align-items: center;;  
}

h1{
    font-style: italic;
    text-align: center;
    color: brown;
}

main{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border: 1px solid brown;
    width: 40rem;
    align-items: center;
}
p , div.column, div.affiche {
    background-color :rgba(0, 128, 0, 0.616);
    max-width: 20rem;
    border: 1px solid yellowgreen;
}
p{
    height: 3rem;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
    margin: 0;
    font-size: 20px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
}
input{
    min-height: 3rem;
    min-width: 3rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}
input:hover{
    box-shadow: 1px 2px 2px 1px gray;
    transition: 0.5s ease;
}
input.efface{
    background-color: red;
}
input.egal{
    background-color: blue;
    display: inline-block;
    min-width: 13rem; 
}
.affiche{
    font-size: 14px;
    height: 3.2rem;
    width: 16rem;
}
#bleu{
    display: flex;
    justify-content: center;
    text-align: center;
}
